.header-image{
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.question-description{
  padding-top: 20px;
}


.btn-actions  {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 10px;
}

.btn-answer{
  color: green;
}

.badge-votes{
  position: relative;
  top: -5px;
  left: 7px;
}

.container-votes{
  position: absolute;
  right: 30px;
}
